# dependencies
/node_modules/

# Next.js
/.next/
/out/

# tests
/coverage/
/playwright-report/
/test-results/

# local files
.env*
!.env.example
*.log
.DS_Store

# TypeScript
*.tsbuildinfo
next-env.d.ts
